<div class="jumbotron">
    @using (Html.BeginForm("Index", "Home", FormMethod.Post))
    {<p>
            Address: @Html.TextBox("address")

            <input type="submit" value="Show map" />
        </p>
    }
    @if (IsPost)
    {
        if (ViewData["Error"] == null)
        {
            <iframe width="600"
                    height="450"
                    frameborder="0" style="border:0"
                    src="https://www.google.com/maps/embed/v1/view?key=AIzaSyAf88MdQuNNR3jBdMGr6MF_sj94vQNI8k8
    &center=@ViewData["Lat"],@ViewData["Lng"]&zoom=15" allowfullscreen></iframe>
        }
        else
        {
            @ViewData["Error"]
        }
}
</div>

