
<div class="jumbotron">
    <form method="post" action="">
        Address :<br>
        <input type="text" name="Address" value=""><br>
        <input type="submit" value="Show map" class="submit">
    </form>
    @if (IsPost)
    {
        string address = Request["Address"];
        <p>
            Address: @address

        </p>
    }
</div>